<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $("#title").click(function(){
                alert('제발 되어라');
            });
        });
    </script>
</head>
<body>
<h1 style="text-align: center;">어서오세요 도서관입니다📖📚📕📗📘📙🍤</h1>
<div>
    <input type="text" id="title" name="title"><button type="button">책 검색</button>
    <button type="button">회원가입</button>
    <button type="button">로그인</button>
</div>
</body>
</html>